XSD/Acknowledgement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Chris (Ignition MTS Inc) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="ac:acknowledgement-schema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ac:acknowledgement-schema" elementFormDefault="qualified">
	<xs:element name="IFX">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SONACK">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SONTYPE" type="char255"/>
							<xs:element name="DTSERVER"/>
							<xs:element name="CUSTLANGPREF">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LANGUAGE" type="char255"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SERVERAPP">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ORG" type="char255"/>
										<xs:element name="NAME" type="char255"/>
										<xs:element name="APPVER" type="char255"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MORTGAGESVCACK">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MORTGAGETRNACK">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TRNUID" type="char38"/>
										<xs:element name="MORTGAGEACK" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ERRORCONDITION" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ERRCATEGORY" type="xs:string"/>
																<xs:element name="ERRCODE" type="xs:string"/>
																<xs:element name="ERRMSG" type="xs:string"/>
																<xs:element name="ERRSEVERITY" type="xs:string"/>
																<xs:element name="ERRSYSTEM" type="xs:string"/>
																<xs:element name="ERRCOMPONENT" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="char50">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="char38">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="38"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="char255">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
